  <h3 class="mb-5">Estadisticas</h3>
    <h4>Elecciones: nombre <br> Fecha: --fecha--</h4> 
<div class="album py-5 bg-light">
  
     
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Puesto</th>
        <th scope="col">Votos</th>
        <th scope="col">Porcentaje</th>
      </tr>
    </thead>
    <tbody>
      {{#each datos}}
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      {{/each }}
       <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>Armando</td>
        </tr>
    </tbody>
  </table>

</div>
