<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Elecciones</h1>
      <p>
        <a href="#" class="btn btn-outline-primary my-2">Añadir nueva Eleccion</a>
      </p>
    </div>
  </div>
</section>
                
    {{#if }} 
        <form method="POST" action="">
            <input type="hidden" name="" value=""/>
            <button type="submit" class="btn btn-danger">Finalizar Eleccion</button>
            </form>
    {{/if}}

<div class="album py-5 bg-light">
    <div class="container">

    
    {{#each}} 
    
        <table style="width:100%">
        <tr>
        <th>  </th>
        <th>  </th>
        <th>  </th>
        </tr>
        <tr>
        <td>  </td>
        <td>  </td>
        <td> </td>
        </tr>
        <tr>
        <td> </td>
        <td>  </td>
        <td>  </td>
        </tr>
        </table>

    {{/each}}

        </div>
    </div>
</div>