    <div class="card mt-5">

        <div class="card-header bg-success">
            <h1 class="text-center text-white">Menu de Mantenimiento</h1>
        </div>  

        <div class="card-body mt-5 mb-5">
            
            <div class="row">

                <div class="col-md-3"></div>

                <div class="col-md-6">
                    <div class="d-grid gap-2">

                        <a href="#" class="btn btn-outline-primary mb-4"> Partidos </a>
                        <a href="#" class="btn btn-outline-primary mb-4"> Puestos Electivos </a>
                        <a href="#" class="btn btn-outline-primary mb-4"> Candidatos </a>
                        <a href="#" class="btn btn-outline-primary mb-4"> Ciudadanos </a>
                        <a href="#" class="btn btn-outline-primary mb-4"> Elecciones </a>

                    </div>
                </div>

                <div class="col-md-3"></div>

            </div>

        </div>        

    </div>