<div class="container">

    <div class="row">

        <div class="col-md-3"></div>

        <div class="col-md-6">
            
            <form method="POST" action="{{#if editMode}}""{{else}}""{{/if}}">

                <div class="card mt-5">

                    <div class="card-header bg-success"> 
                        <h5 class="text-white"> {{#if editMode}}Edite{{else}}Introduzca{{/if}} la info del Candidato: </h5>   
                    </div>

                    <div class="card-body">

                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre: </label>
                            <input type="text" class="form-control" id="name" name="Name">
                        </div>


                        <div class="mb-3">
                            <label for="apellidos" class="form-label">Apellidos: </label>
                            <input type="text" class="form-control" id="apellidos" name="Apellidos">
                        </div>

                        <div class="mb-3">
                            <label for="imagen-candidato" class="form-label">Seleccione una imagen: </label>
                            <input class="form-control" type="file" id="imagen-candidato" name="Imagen-candidato">
                        </div>

                        <select class="form-select mb-4" aria-label="Default select example" name="SelectCargo">
                            <option value="" selected> Seleccione el Cargo </option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>

                        <select class="form-select mb-4" aria-label="Default select example" name="SelectPartido">
                            <option value="" selected> Seleccione el partido </option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                            <option value=""></option>
                        </select>

                         <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="StatusActive">
                            <label class="form-check-label" for="StatusActive"> Activo </label>
                        </div>

                        <button type="btn" class="btn btn-success float-right w-25 float-end"> Añadir </button>
                    </div>

                </div>
            </form>

        </div>

        <div class="col-md-3"></div>

    </div>

</div>