<div class="container">

<div class="row">

<div class="col-md-3"></div>

<div class="col-md-6">

 
<div class="card mt-3">

    <div class="card-header">
        <h6 class="text-center text-white">
            Seleccione el puesto a Votar
        </h6>
    </div>

    <div class="card-body mt-3 mb-3">
        <a href="#" class="btn-btn-primary"> Presidente </a>
    </div>

    <div class="card-body mt-3 mb-3">
        <a href="#" class="btn-btn-primary"> Alcalde </a>
    </div>

    <div class="card-body mt-3 mb-3">
        <a href="#" class="btn-btn-primary"> Senador </a>
    </div>

    <div class="card-body mt-3 mb-3">
        <a href="#" class="btn-btn-primary"> Diputado </a>
    </div>

</div>

</div>

<div class="col-md-3"></div>

</div>

</div>