<div class="container">

    <div class="col-md-4"></div>

    <div class="col-md-4">

        <div class="card">

            <div class="card-header bg-success"> 
                <h5 class="text-center text-white"> Introduzca su documento de Identidad: </h5>
                
            </div>
            <div class="card-body">

                <div class="dropdown-menu">
                    <form class="px-4 py-3">
                        <div class="mb-3">
                        <label for="docIdentidad" class="form-label"> Cedula: </label>
                        <input type="text" class="form-control" id="docIdentidad" name="DocIdentidad">
                        </div>

                        <button type="submit" class="btn btn-outline-primary"> Ingresar a Votar </button>
                    </form>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-4"></div>

</div>