<div class="container">

<div class="row">

<div class="col-md-4"></div>

<div class="col-md-4">

    <form class="dropdown-menu p-4">

    <div class="card mt-5">

        <div class="card-header bg-success">
            <h6 class="text-center text-white"> Introduzca la info del Puesto electivo: </h6>
        </div>

    <div class="mb-3">
        <label for="puesto-electivo" class="form-label">Nombre del Cargo:</label>
        <input type="text" class="form-control" id="puesto-electivo" placeholder="Puesto-electivo">
    </div>
    <button type="submit" class="btn btn-success float end">Guardar</button>
    </form>

    </div>

</div>

<div class="col-md-4"></div>

</div>

</div>