<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Puestos Electivos</h1>
      <p>
        <a href="#" class="btn btn-outline-primary my-2">Añadir nuevo puesto electoral</a>
        <a href="#" class="btn btn-outline-primary my-2">Editar puesto electoral</a>
      </p>
    </div>
  </div>
</section>


<div class="album py-5 bg-light">
    <div class="container">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Nombre de puesto:</h5>
            <a href="#" class="btn btn-primary"> Editar </a>
            <a href="#" class="btn btn-primary"> Eliminar </a>
        </div>
        </div>
    </div>
</div>
