<div class="container">

<div class="row">

<div class="col-md-4"></div>

<div class="col-md-4">

    <form class="dropdown-menu p-4">

    <div class="card mt-5">

        <div class="card-header bg-success">
            <h6 class="text-center text-white"> Introduzca la info del Ciudadano: </h6>
        </div>

    <div class="mb-3">
        <label for="docdeidentidad" class="form-label">Documento de identidad:</label>
        <input type="text" class="form-control" id="docdeidentidad" placeholder="Doc-de-identidad">
    </div>
        <div class="mb-3">
        <label for="docdeidentidad" class="form-label">Nombre del Ciudadano:</label>
        <input type="text" class="form-control" id="docdeidentidad" placeholder="Doc-de-identidad">
    </div>
    <button type="submit" class="btn btn-success float end">Guardar</button>
    </form>

    </div>

</div>

<div class="col-md-4"></div>

</div>

</div>