<div class="container">

    <div class="col-md-4"></div>

    <div class="col-md-4">

        <div class="card">

            <div class="card-header bg-success"> 
                <h5 class="text-center text-white">Inicie sesion</h5>
                <h6 class="text-center text-white">[Modo Administrador]</h6>
            </div>
            <div class="card-body">

                <div class="dropdown-menu">
                    <form class="px-4 py-3">
                        <div class="mb-3">
                        <label for="Admin" class="form-label">Admin:</label>
                        <input type="text" class="form-control" id="Admin" placeholder="usuarioadmin">
                        </div>
                        <div class="mb-3">
                        <label for="Password" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="Password" placeholder="password">
                        </div>
                        <button type="submit" class="btn btn-primary">Sign in</button>
                    </form>
                </div>

            </div>

        </div>

    </div>

    <div class="col-md-4"></div>

</div>